h1 {
	padding: 60px;
	text-align: center;
	background: black;
	color: white;
	font-size: 30px;
}

body {
	background-image: url(/images/Pizza-Background.jpg);
	background-repeat: no-repeat; opacity : 0.75;
	background-size: cover;
	opacity: 0.75;
}

p{
	
	font: OCR A Std, monospace;
	font-weight: bold;
	 font-size: 20px;
}

#datetime
{
	
	font:Andale Mono, monospace
}
h2
{
	font: OCR A Std, monospace;
	font-weight: bold;
}

#spname
{
	font: italic small-caps bold 20px/40px Georgia, serif;
	color:black;
	 font-size: 15px;
}

#offer
{
	font: Blippo, fantasy;
	color:red;
	 font-size: 25px;
    animation:blinkingText 1s infinite;
}

@keyframes blinkingText{
    0%{     color:red;   }
    49%{    color:red; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color:red;    }
}

.cols {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}